# coding: utf-8

"""
    QuantiModo

    QuantiModo makes it easy to retrieve normalized user data from a wide array of devices and applications. [Learn about QuantiModo](https://quantimo.do), check out our [docs](https://github.com/QuantiModo/docs) or contact us at [help.quantimo.do](https://help.quantimo.do). 

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ConnectorsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def v1_connect_mobile_get(self, access_token, **kwargs):
        """
        Mobile connect page
        This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user's access_token as a URL parameter like https://app.quantimo.do/api/v1/connect/mobile?access_token=123

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connect_mobile_get(access_token, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str access_token: User OAuth access token (required)
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connect_mobile_get_with_http_info(access_token, **kwargs)
        else:
            (data) = self.v1_connect_mobile_get_with_http_info(access_token, **kwargs)
            return data

    def v1_connect_mobile_get_with_http_info(self, access_token, **kwargs):
        """
        Mobile connect page
        This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user's access_token as a URL parameter like https://app.quantimo.do/api/v1/connect/mobile?access_token=123

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connect_mobile_get_with_http_info(access_token, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str access_token: User OAuth access token (required)
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_token', 'user_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connect_mobile_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_token' is set
        if ('access_token' not in params) or (params['access_token'] is None):
            raise ValueError("Missing the required parameter `access_token` when calling `v1_connect_mobile_get`")


        collection_formats = {}

        resource_path = '/v1/connect/mobile'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']
        if 'user_id' in params:
            query_params['userId'] = params['user_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['text/html'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_connector_name_connect_get(self, connector_name, **kwargs):
        """
        Obtain a token from 3rd party data source
        Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_connect_get(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_connector_name_connect_get_with_http_info(connector_name, **kwargs)
        else:
            (data) = self.v1_connectors_connector_name_connect_get_with_http_info(connector_name, **kwargs)
            return data

    def v1_connectors_connector_name_connect_get_with_http_info(self, connector_name, **kwargs):
        """
        Obtain a token from 3rd party data source
        Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_connect_get_with_http_info(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connector_name', 'access_token', 'user_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_connector_name_connect_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connector_name' is set
        if ('connector_name' not in params) or (params['connector_name'] is None):
            raise ValueError("Missing the required parameter `connector_name` when calling `v1_connectors_connector_name_connect_get`")


        collection_formats = {}

        resource_path = '/v1/connectors/{connectorName}/connect'.replace('{format}', 'json')
        path_params = {}
        if 'connector_name' in params:
            path_params['connectorName'] = params['connector_name']

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']
        if 'user_id' in params:
            query_params['userId'] = params['user_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_connector_name_connect_instructions_get(self, connector_name, parameters, url, use_popup, **kwargs):
        """
        Connection Instructions
        Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_connect_instructions_get(connector_name, parameters, url, use_popup, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str parameters: JSON Array of Parameters for the request to enable connector. (required)
        :param str url: URL which should be used to enable the connector. (required)
        :param bool use_popup: Should use popup when enabling connector (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_connector_name_connect_instructions_get_with_http_info(connector_name, parameters, url, use_popup, **kwargs)
        else:
            (data) = self.v1_connectors_connector_name_connect_instructions_get_with_http_info(connector_name, parameters, url, use_popup, **kwargs)
            return data

    def v1_connectors_connector_name_connect_instructions_get_with_http_info(self, connector_name, parameters, url, use_popup, **kwargs):
        """
        Connection Instructions
        Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_connect_instructions_get_with_http_info(connector_name, parameters, url, use_popup, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str parameters: JSON Array of Parameters for the request to enable connector. (required)
        :param str url: URL which should be used to enable the connector. (required)
        :param bool use_popup: Should use popup when enabling connector (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connector_name', 'parameters', 'url', 'use_popup', 'access_token', 'user_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_connector_name_connect_instructions_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connector_name' is set
        if ('connector_name' not in params) or (params['connector_name'] is None):
            raise ValueError("Missing the required parameter `connector_name` when calling `v1_connectors_connector_name_connect_instructions_get`")
        # verify the required parameter 'parameters' is set
        if ('parameters' not in params) or (params['parameters'] is None):
            raise ValueError("Missing the required parameter `parameters` when calling `v1_connectors_connector_name_connect_instructions_get`")
        # verify the required parameter 'url' is set
        if ('url' not in params) or (params['url'] is None):
            raise ValueError("Missing the required parameter `url` when calling `v1_connectors_connector_name_connect_instructions_get`")
        # verify the required parameter 'use_popup' is set
        if ('use_popup' not in params) or (params['use_popup'] is None):
            raise ValueError("Missing the required parameter `use_popup` when calling `v1_connectors_connector_name_connect_instructions_get`")


        collection_formats = {}

        resource_path = '/v1/connectors/{connectorName}/connectInstructions'.replace('{format}', 'json')
        path_params = {}
        if 'connector_name' in params:
            path_params['connectorName'] = params['connector_name']

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']
        if 'user_id' in params:
            query_params['userId'] = params['user_id']
        if 'parameters' in params:
            query_params['parameters'] = params['parameters']
        if 'url' in params:
            query_params['url'] = params['url']
        if 'use_popup' in params:
            query_params['usePopup'] = params['use_popup']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_connector_name_connect_parameter_get(self, connector_name, display_name, key, placeholder, type, use_popup, **kwargs):
        """
        Connect Parameter
        Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_connect_parameter_get(connector_name, display_name, key, placeholder, type, use_popup, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str display_name: Name of the parameter that is user visible in the form (required)
        :param str key: Name of the property that the user has to enter such as username or password Connector (used in HTTP request) (required)
        :param str placeholder: Placeholder hint value for the parameter input tag. (required)
        :param str type: Type of input field such as those found here http://www.w3schools.com/tags/tag_input.asp (required)
        :param bool use_popup: Should use popup when enabling connector (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :param str default_value: Default parameter value
        :return: ConnectorInstruction
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_connector_name_connect_parameter_get_with_http_info(connector_name, display_name, key, placeholder, type, use_popup, **kwargs)
        else:
            (data) = self.v1_connectors_connector_name_connect_parameter_get_with_http_info(connector_name, display_name, key, placeholder, type, use_popup, **kwargs)
            return data

    def v1_connectors_connector_name_connect_parameter_get_with_http_info(self, connector_name, display_name, key, placeholder, type, use_popup, **kwargs):
        """
        Connect Parameter
        Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_connect_parameter_get_with_http_info(connector_name, display_name, key, placeholder, type, use_popup, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str display_name: Name of the parameter that is user visible in the form (required)
        :param str key: Name of the property that the user has to enter such as username or password Connector (used in HTTP request) (required)
        :param str placeholder: Placeholder hint value for the parameter input tag. (required)
        :param str type: Type of input field such as those found here http://www.w3schools.com/tags/tag_input.asp (required)
        :param bool use_popup: Should use popup when enabling connector (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :param str default_value: Default parameter value
        :return: ConnectorInstruction
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connector_name', 'display_name', 'key', 'placeholder', 'type', 'use_popup', 'access_token', 'user_id', 'default_value']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_connector_name_connect_parameter_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connector_name' is set
        if ('connector_name' not in params) or (params['connector_name'] is None):
            raise ValueError("Missing the required parameter `connector_name` when calling `v1_connectors_connector_name_connect_parameter_get`")
        # verify the required parameter 'display_name' is set
        if ('display_name' not in params) or (params['display_name'] is None):
            raise ValueError("Missing the required parameter `display_name` when calling `v1_connectors_connector_name_connect_parameter_get`")
        # verify the required parameter 'key' is set
        if ('key' not in params) or (params['key'] is None):
            raise ValueError("Missing the required parameter `key` when calling `v1_connectors_connector_name_connect_parameter_get`")
        # verify the required parameter 'placeholder' is set
        if ('placeholder' not in params) or (params['placeholder'] is None):
            raise ValueError("Missing the required parameter `placeholder` when calling `v1_connectors_connector_name_connect_parameter_get`")
        # verify the required parameter 'type' is set
        if ('type' not in params) or (params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `v1_connectors_connector_name_connect_parameter_get`")
        # verify the required parameter 'use_popup' is set
        if ('use_popup' not in params) or (params['use_popup'] is None):
            raise ValueError("Missing the required parameter `use_popup` when calling `v1_connectors_connector_name_connect_parameter_get`")


        collection_formats = {}

        resource_path = '/v1/connectors/{connectorName}/connectParameter'.replace('{format}', 'json')
        path_params = {}
        if 'connector_name' in params:
            path_params['connectorName'] = params['connector_name']

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']
        if 'user_id' in params:
            query_params['userId'] = params['user_id']
        if 'default_value' in params:
            query_params['defaultValue'] = params['default_value']
        if 'display_name' in params:
            query_params['displayName'] = params['display_name']
        if 'key' in params:
            query_params['key'] = params['key']
        if 'placeholder' in params:
            query_params['placeholder'] = params['placeholder']
        if 'type' in params:
            query_params['type'] = params['type']
        if 'use_popup' in params:
            query_params['usePopup'] = params['use_popup']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ConnectorInstruction',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_connector_name_disconnect_get(self, connector_name, **kwargs):
        """
        Delete stored connection info
        The disconnect method deletes any stored tokens or connection information from the connectors database.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_disconnect_get(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_connector_name_disconnect_get_with_http_info(connector_name, **kwargs)
        else:
            (data) = self.v1_connectors_connector_name_disconnect_get_with_http_info(connector_name, **kwargs)
            return data

    def v1_connectors_connector_name_disconnect_get_with_http_info(self, connector_name, **kwargs):
        """
        Delete stored connection info
        The disconnect method deletes any stored tokens or connection information from the connectors database.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_disconnect_get_with_http_info(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connector_name']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_connector_name_disconnect_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connector_name' is set
        if ('connector_name' not in params) or (params['connector_name'] is None):
            raise ValueError("Missing the required parameter `connector_name` when calling `v1_connectors_connector_name_disconnect_get`")


        collection_formats = {}

        resource_path = '/v1/connectors/{connectorName}/disconnect'.replace('{format}', 'json')
        path_params = {}
        if 'connector_name' in params:
            path_params['connectorName'] = params['connector_name']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_connector_name_info_get(self, connector_name, **kwargs):
        """
        Get connector info for user
        Returns information about the connector such as the connector id, whether or not is connected for this user (i.e. we have a token or credentials), and its update history for the user.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_info_get(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: ConnectorInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_connector_name_info_get_with_http_info(connector_name, **kwargs)
        else:
            (data) = self.v1_connectors_connector_name_info_get_with_http_info(connector_name, **kwargs)
            return data

    def v1_connectors_connector_name_info_get_with_http_info(self, connector_name, **kwargs):
        """
        Get connector info for user
        Returns information about the connector such as the connector id, whether or not is connected for this user (i.e. we have a token or credentials), and its update history for the user.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_info_get_with_http_info(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device. Get a list of available connectors from the /v1/connectors/list endpoint. (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: ConnectorInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connector_name', 'access_token', 'user_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_connector_name_info_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connector_name' is set
        if ('connector_name' not in params) or (params['connector_name'] is None):
            raise ValueError("Missing the required parameter `connector_name` when calling `v1_connectors_connector_name_info_get`")


        collection_formats = {}

        resource_path = '/v1/connectors/{connectorName}/info'.replace('{format}', 'json')
        path_params = {}
        if 'connector_name' in params:
            path_params['connectorName'] = params['connector_name']

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']
        if 'user_id' in params:
            query_params['userId'] = params['user_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ConnectorInfo',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_connector_name_update_get(self, connector_name, **kwargs):
        """
        Sync with data source
        The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_update_get(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_connector_name_update_get_with_http_info(connector_name, **kwargs)
        else:
            (data) = self.v1_connectors_connector_name_update_get_with_http_info(connector_name, **kwargs)
            return data

    def v1_connectors_connector_name_update_get_with_http_info(self, connector_name, **kwargs):
        """
        Sync with data source
        The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_connector_name_update_get_with_http_info(connector_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str connector_name: Lowercase system name of the source application or device (required)
        :param str access_token: User's OAuth2 access token
        :param int user_id: User's id
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connector_name', 'access_token', 'user_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_connector_name_update_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connector_name' is set
        if ('connector_name' not in params) or (params['connector_name'] is None):
            raise ValueError("Missing the required parameter `connector_name` when calling `v1_connectors_connector_name_update_get`")


        collection_formats = {}

        resource_path = '/v1/connectors/{connectorName}/update'.replace('{format}', 'json')
        path_params = {}
        if 'connector_name' in params:
            path_params['connectorName'] = params['connector_name']

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']
        if 'user_id' in params:
            query_params['userId'] = params['user_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_connectors_list_get(self, **kwargs):
        """
        List of Connectors
        A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_list_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[Connector]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_connectors_list_get_with_http_info(**kwargs)
        else:
            (data) = self.v1_connectors_list_get_with_http_info(**kwargs)
            return data

    def v1_connectors_list_get_with_http_info(self, **kwargs):
        """
        List of Connectors
        A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_connectors_list_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[Connector]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_connectors_list_get" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        resource_path = '/v1/connectors/list'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token', 'quantimodo_oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Connector]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)

    def v1_integration_js_get(self, **kwargs):
        """
        Get embeddable connect javascript
        Get embeddable connect javascript. Usage:   - Embedding in applications with popups for 3rd-party authentication windows.     Use `qmSetupInPopup` function after connecting `connect.js`.   - Embedding in applications with popups for 3rd-party authentication windows.     Requires a selector to block. It will be embedded in this block.     Use `qmSetupOnPage` function after connecting `connect.js`.   - Embedding in mobile applications without popups for 3rd-party authentication.     Use `qmSetupOnMobile` function after connecting `connect.js`.     If using in a Cordova application call  `qmSetupOnIonic` function after connecting `connect.js`.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_integration_js_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str access_token: User's OAuth2 access token
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.v1_integration_js_get_with_http_info(**kwargs)
        else:
            (data) = self.v1_integration_js_get_with_http_info(**kwargs)
            return data

    def v1_integration_js_get_with_http_info(self, **kwargs):
        """
        Get embeddable connect javascript
        Get embeddable connect javascript. Usage:   - Embedding in applications with popups for 3rd-party authentication windows.     Use `qmSetupInPopup` function after connecting `connect.js`.   - Embedding in applications with popups for 3rd-party authentication windows.     Requires a selector to block. It will be embedded in this block.     Use `qmSetupOnPage` function after connecting `connect.js`.   - Embedding in mobile applications without popups for 3rd-party authentication.     Use `qmSetupOnMobile` function after connecting `connect.js`.     If using in a Cordova application call  `qmSetupOnIonic` function after connecting `connect.js`.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.v1_integration_js_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str access_token: User's OAuth2 access token
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_token']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_integration_js_get" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        resource_path = '/v1/integration.js'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'access_token' in params:
            query_params['access_token'] = params['access_token']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/x-javascript'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'),
                                            _preload_content=params.get('_preload_content', True),
                                            _request_timeout=params.get('_request_timeout'),
                                            collection_formats=collection_formats)
